<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idata.gtd.dao.DepartmentMapper">

  <resultMap id="BaseResultMap" type="com.idata.gtd.entity.Department">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="dep_name" jdbcType="VARCHAR" property="depName" />
    <result column="dep_desc" jdbcType="VARCHAR" property="depDesc" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
  </resultMap>

  <select id="selectDepartmentByPK" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select *
    from department
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteDepartmentByPK" parameterType="java.lang.Integer">
    delete from department
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertDepartment" parameterType="com.idata.gtd.entity.Department">
    insert into department
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">id,</if>
      <if test="depName != null">dep_name,</if>
      <if test="depDesc != null">dep_desc,</if>
      <if test="parentId != null">parent_id,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">#{id,jdbcType=INTEGER},</if>
      <if test="depName != null">#{depName,jdbcType=VARCHAR},</if>
      <if test="depDesc != null">#{depDesc,jdbcType=VARCHAR},</if>
      <if test="parentId != null">#{parentId,jdbcType=INTEGER},</if>
    </trim>
  </insert>
  
  <update id="updateDepartment" parameterType="com.idata.gtd.entity.Department">
    update department
    <set>
      <if test="depName != null">dep_name = #{depName,jdbcType=VARCHAR},</if>
      <if test="depDesc != null">dep_desc = #{depDesc,jdbcType=VARCHAR},</if>
      <if test="parentId != null">parent_id = #{parentId,jdbcType=INTEGER},</if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectDepartmentList" resultMap="BaseResultMap">
    select *
    from department
  </select>

</mapper>