<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idata.gtd.dao.ParamKeyMapper">
	<resultMap id="BaseResultMap" type="com.idata.gtd.entity.ParamKey">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="param_key" jdbcType="VARCHAR" property="paramKey" />
		<result column="param_key_name" jdbcType="VARCHAR" property="paramKeyName" />
		<result column="data_type" jdbcType="VARCHAR" property="dataType" />
	</resultMap>

	<select id="selectParamKeyByPK" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select *
		from param_key
		where id = #{id,jdbcType=INTEGER}
	</select>

	<delete id="deleteParamKeyByPK" parameterType="java.lang.Integer">
		delete from param_key
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insertParamKey" parameterType="com.idata.gtd.entity.ParamKey">
		insert into param_key
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>
			<if test="paramKey != null">param_key,</if>
			<if test="paramKeyName != null">param_key_name,</if>
			<if test="dataType != null">data_type,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id,jdbcType=INTEGER},</if>
			<if test="paramKey != null">#{paramKey,jdbcType=VARCHAR},</if>
			<if test="paramKeyName != null">#{paramKeyName,jdbcType=VARCHAR},</if>
			<if test="dataType != null">#{dataType,jdbcType=VARCHAR},</if>
		</trim>
	</insert>

	<update id="updateParamKey" parameterType="com.idata.gtd.entity.ParamKey">
		update param_key
		<set>
			<if test="paramKey != null">param_key = #{paramKey,jdbcType=VARCHAR},</if>
			<if test="paramKeyName != null">param_key_name = #{paramKeyName,jdbcType=VARCHAR},</if>
			<if test="dataType != null">data_type = #{dataType,jdbcType=VARCHAR},</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<select id="selectParamKeyList" resultMap="BaseResultMap">
		select *
		from param_key
	</select>

</mapper>