<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idata.gtd.dao.ParamValueMapper">

	<resultMap id="BaseResultMap" type="com.idata.gtd.entity.ParamValue">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="param_id" jdbcType="INTEGER" property="paramId" />
		<result column="param_value" jdbcType="VARCHAR" property="paramValue" />
		<result column="param_desc" jdbcType="VARCHAR" property="paramDesc" />
	</resultMap>

	<select id="selectParamValueByPK" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select *
		from param_value
		where id = #{id,jdbcType=INTEGER}
	</select>

	<delete id="deleteParamValueByPK" parameterType="java.lang.Integer">
		delete from param_value
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insertParamValue" useGeneratedKeys="true" parameterType="com.idata.gtd.entity.ParamValue">
		insert into param_value
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>
			<if test="paramId != null">param_id,</if>
			<if test="paramValue != null">param_value,</if>
			<if test="paramDesc != null">param_desc,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id,jdbcType=INTEGER},</if>
			<if test="paramId != null">#{paramId,jdbcType=INTEGER},</if>
			<if test="paramValue != null">#{paramValue,jdbcType=VARCHAR},</if>
			<if test="paramDesc != null">#{paramDesc,jdbcType=VARCHAR},</if>
		</trim>
	</insert>
	
	<update id="updateParamValue" parameterType="com.idata.gtd.entity.ParamValue">
		update param_value
		<set>
			<if test="paramId != null">param_id = #{paramId,jdbcType=INTEGER},</if>
			<if test="paramValue != null">param_value = #{paramValue,jdbcType=VARCHAR},</if>
			<if test="paramDesc != null">param_desc = #{paramDesc,jdbcType=VARCHAR},</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<select id="selectParamValueList" parameterType="com.idata.gtd.entity.ParamKey" resultMap="BaseResultMap">
		select *
		from param_value
		left join param_key on param_value.param_id = param_key.id
		where 1=1
		<trim prefix=" and (" suffix=")" suffixOverrides="and">
			<if test="id != null">param_key.id = #{id,jdbcType=INTEGER}  and </if>
			<if test="paramKey != null">param_key.param_key = #{paramKey,jdbcType=VARCHAR}  and </if>
			<if test="paramKeyName != null">param_key.param_key_name = #{paramKeyName,jdbcType=VARCHAR}  and </if>
		</trim>
	</select>
	
	<delete id="deleteParamValues" parameterType="java.lang.Integer">
		delete from param_value
		where param_id = #{paramKeyId,jdbcType=INTEGER}
	</delete>

</mapper>