<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idata.gtd.dao.ProjectTaskMapper">

  <resultMap id="BaseResultMap" type="com.idata.gtd.entity.ProjectTask">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="text" jdbcType="VARCHAR" property="text" />
    <result column="start_date" jdbcType="TIMESTAMP" property="start_date" />
    <result column="end_date" jdbcType="TIMESTAMP" property="end_date" />
    <result column="parent" jdbcType="INTEGER" property="parent" />
    <result column="task_desc" jdbcType="VARCHAR" property="taskDesc" />
    <result column="priority" jdbcType="INTEGER" property="priority" />
    <result column="progress" jdbcType="FLOAT" property="progress" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="assign_staff_id" jdbcType="INTEGER" property="assignStaffId" />
    <result column="actor_staff_id" jdbcType="INTEGER" property="actorStaffId" />
    <result column="plan_workload" jdbcType="INTEGER" property="planWorkload" />
    <result column="real_workload" jdbcType="INTEGER" property="realWorkload" />
    <result column="is_delay" jdbcType="INTEGER" property="isDelay" />
    <result column="delay_reason" jdbcType="VARCHAR" property="delayReason" />
    <result column="readonly" jdbcType="INTEGER" property="readonly" />
    <result column="editable" jdbcType="INTEGER" property="editable" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="real_start_date" jdbcType="TIMESTAMP" property="real_start_date" />
    <result column="real_end_date" jdbcType="TIMESTAMP" property="real_end_date" />
    <result column="create_date" jdbcType="TIMESTAMP" property="create_date" />
  </resultMap>

  <select id="selectProjectTaskByPK" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * 
    from project_task
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteProjectTaskByPK" parameterType="java.lang.Integer">
    delete from project_task
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertProjectTask" useGeneratedKeys="true" keyProperty="id" parameterType="com.idata.gtd.entity.ProjectTask">
    insert into project_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">id,</if>
      <if test="text != null">text,</if>
      <if test="start_date != null">start_date,</if>
      <if test="end_date != null">end_date,</if>
      <if test="real_start_date != null">real_start_date,</if>
      <if test="real_end_date != null">real_end_date,</if>
      <if test="parent != null">parent,</if>
      <if test="taskDesc != null">task_desc,</if>
      <if test="priority != null">priority,</if>
      <if test="progress != null">progress,</if>
      <if test="state != null">state,</if>
      <if test="assignStaffId != null">assign_staff_id,</if>
      <if test="actorStaffId != null">actor_staff_id,</if>
      <if test="planWorkload != null">plan_workload,</if>
      <if test="realWorkload != null">real_workload,</if>
      <if test="isDelay != null">is_delay,</if>
      <if test="delayReason != null">delay_reason,</if>
      <if test="readonly != null">readonly,</if>
      <if test="editable != null">editable,</if>
      <if test="type != null">type,</if>
      <if test="projectId != null">project_id,</if>
      <if test="create_date != null">create_date,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">#{id,jdbcType=INTEGER},</if>
      <if test="text != null">#{text,jdbcType=VARCHAR},</if>
      <if test="start_date != null">#{start_date,jdbcType=TIMESTAMP},</if>
      <if test="end_date != null">#{end_date,jdbcType=TIMESTAMP},</if>
      <if test="real_start_date != null">#{real_start_date,jdbcType=TIMESTAMP},</if>
      <if test="real_end_date != null">#{real_end_date,jdbcType=TIMESTAMP},</if>
      <if test="parent != null">#{parent,jdbcType=INTEGER},</if>
      <if test="taskDesc != null">#{taskDesc,jdbcType=VARCHAR},</if>
      <if test="priority != null">#{priority,jdbcType=INTEGER},</if>
      <if test="progress != null">#{progress,jdbcType=FLOAT},</if>
      <if test="state != null">#{state,jdbcType=INTEGER},</if>
      <if test="assignStaffId != null">#{assignStaffId,jdbcType=INTEGER},</if>
      <if test="actorStaffId != null">#{actorStaffId,jdbcType=INTEGER},</if>
      <if test="planWorkload != null">#{planWorkload,jdbcType=INTEGER},</if>
      <if test="realWorkload != null">#{realWorkload,jdbcType=INTEGER},</if>
      <if test="isDelay != null">#{isDelay,jdbcType=INTEGER},</if>
      <if test="delayReason != null">#{delayReason,jdbcType=VARCHAR},</if>
      <if test="readonly != null">#{readonly,jdbcType=INTEGER},</if>
      <if test="editable != null">#{editable,jdbcType=INTEGER},</if>
      <if test="type != null">#{type,jdbcType=VARCHAR},</if>
      <if test="projectId != null">#{projectId,jdbcType=INTEGER},</if>
      <if test="create_date != null">#{create_date,jdbcType=TIMESTAMP},</if>
    </trim>
  </insert>
  
  <update id="updateProjectTask" parameterType="com.idata.gtd.entity.ProjectTask">
    update project_task
    <set>
      <if test="text != null">text = #{text,jdbcType=VARCHAR},</if>
      <if test="start_date != null">start_date = #{start_date,jdbcType=TIMESTAMP},</if>
      <if test="end_date != null">end_date = #{end_date,jdbcType=TIMESTAMP},</if>
      <if test="real_start_date != null">real_start_date = #{real_start_date,jdbcType=TIMESTAMP},</if>
      <if test="real_end_date != null">real_end_date = #{real_end_date,jdbcType=TIMESTAMP},</if>
      <if test="parent != null">parent = #{parent,jdbcType=INTEGER},</if>
      <if test="taskDesc != null">task_desc = #{taskDesc,jdbcType=VARCHAR},</if>
      <if test="priority != null">priority = #{priority,jdbcType=INTEGER},</if>
      <if test="progress != null">progress = #{progress,jdbcType=FLOAT},</if>
      <if test="state != null">state = #{state,jdbcType=INTEGER},</if>
      <if test="assignStaffId != null">assign_staff_id = #{assignStaffId,jdbcType=INTEGER},</if>
      <if test="actorStaffId != null">actor_staff_id = #{actorStaffId,jdbcType=INTEGER},</if>
      <if test="planWorkload != null">plan_workload = #{planWorkload,jdbcType=INTEGER},</if>
      <if test="realWorkload != null">real_workload = #{realWorkload,jdbcType=INTEGER},</if>
      <if test="isDelay != null">is_delay = #{isDelay,jdbcType=INTEGER},</if>
      <if test="delayReason != null">delay_reason = #{delayReason,jdbcType=VARCHAR},</if>
      <if test="readonly != null">readonly = #{readonly,jdbcType=INTEGER},</if>
      <if test="editable != null">editable = #{editable,jdbcType=INTEGER},</if>
      <if test="type != null">type = #{type,jdbcType=VARCHAR},</if>
      <if test="projectId != null">project_id = #{projectId,jdbcType=INTEGER},</if>
      <if test="create_date != null">create_date = #{create_date,jdbcType=TIMESTAMP},</if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectProjectTaskList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from project_task
    where project_id = #{projectId,jdbcType=INTEGER}
  </select>
  
  <select id="selectProjectStageList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from project_task
    where project_id = #{projectId,jdbcType=INTEGER} and parent=0
  </select>
  
  <select id="selectMyTaskList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * 
    from project_task
    where parent !=0 and actor_staff_id = #{empId,jdbcType=INTEGER} OR assign_staff_id = #{empId,jdbcType=INTEGER}
  </select>
  <select id="selectMyTaskListIn" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * 
    from project_task
    where parent !=0 and actor_staff_id = #{empId,jdbcType=INTEGER}
  </select>
  <select id="selectMyTaskListOut" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * 
    from project_task
    where parent !=0 and assign_staff_id = #{empId,jdbcType=INTEGER}
  </select>
  
  <select id="selectTaskList" parameterType="com.idata.gtd.entity.ProjectTask" resultMap="BaseResultMap">
  	select * 
    from project_task
    where 1=1
    <trim prefix=" and (" suffix=")" suffixOverrides="and">
		<if test="text != null">text = #{text,jdbcType=VARCHAR} and </if>
		<if test="start_date != null">start_date = #{start_date,jdbcType=TIMESTAMP} and </if>
		<if test="end_date != null">end_date = #{end_date,jdbcType=TIMESTAMP} and </if>
		<if test="real_start_date != null">real_start_date = #{real_start_date,jdbcType=TIMESTAMP} and </if>
		<if test="real_end_date != null">real_end_date = #{real_end_date,jdbcType=TIMESTAMP} and </if>
		<if test="parent != null">parent = #{parent,jdbcType=INTEGER} and </if>
		<if test="taskDesc != null">task_desc = #{taskDesc,jdbcType=VARCHAR} and </if>
		<if test="priority != null">priority = #{priority,jdbcType=INTEGER} and </if>
		<if test="progress != null">progress = #{progress,jdbcType=FLOAT} and </if>
		<if test="state != null">state = #{state,jdbcType=INTEGER} and </if>
		<if test="assignStaffId != null">assign_staff_id = #{assignStaffId,jdbcType=INTEGER} and </if>
		<if test="actorStaffId != null">actor_staff_id = #{actorStaffId,jdbcType=INTEGER} and </if>
		<if test="planWorkload != null">plan_workload = #{planWorkload,jdbcType=INTEGER} and </if>
		<if test="realWorkload != null">real_workload = #{realWorkload,jdbcType=INTEGER} and </if>
		<if test="isDelay != null">is_delay = #{isDelay,jdbcType=INTEGER} and </if>
		<if test="delayReason != null">delay_reason = #{delayReason,jdbcType=VARCHAR} and </if>
		<if test="readonly != null">readonly = #{readonly,jdbcType=INTEGER} and </if>
		<if test="editable != null">editable = #{editable,jdbcType=INTEGER} and </if>
		<if test="type != null">type = #{type,jdbcType=VARCHAR} and </if>
		<if test="projectId != null">project_id = #{projectId,jdbcType=INTEGER} and </if>
		<if test="create_date != null">create_date = #{create_date,jdbcType=TIMESTAMP} and </if>
	</trim>
  </select>
</mapper>