<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idata.gtd.dao.ProjectGroupMapper">

  <resultMap id="BaseResultMap" type="com.idata.gtd.entity.ProjectGroup">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="group_desc" jdbcType="VARCHAR" property="groupDesc" />
    <result column="group_role" jdbcType="VARCHAR" property="groupRole" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
  </resultMap>

  <select id="selectProjectGroupByPK" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * 
    from project_group
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteProjectGroupByPK" parameterType="java.lang.Integer">
    delete from project_group
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertProjectGroup" useGeneratedKeys="true" keyProperty="id" parameterType="com.idata.gtd.entity.ProjectGroup">
    insert into project_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">id,</if>
      <if test="projectId != null">project_id,</if>
      <if test="groupName != null">group_name,</if>
      <if test="groupDesc != null">group_desc,</if>
      <if test="groupRole != null">group_role,</if>
      <if test="parentId != null">parent_id,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">#{id,jdbcType=INTEGER},</if>
      <if test="projectId != null">#{projectId,jdbcType=INTEGER},</if>
      <if test="groupName != null">#{groupName,jdbcType=VARCHAR},</if>
      <if test="groupDesc != null">#{groupDesc,jdbcType=VARCHAR},</if>
      <if test="groupRole != null">#{groupRole,jdbcType=VARCHAR},</if>
      <if test="parentId != null">#{parentId,jdbcType=INTEGER},</if>
    </trim>
  </insert>
  
  <update id="updateProjectGroup" parameterType="com.idata.gtd.entity.ProjectGroup">
    update project_group
    <set>
      <if test="projectId != null">project_id = #{projectId,jdbcType=INTEGER},</if>
      <if test="groupName != null">group_name = #{groupName,jdbcType=VARCHAR},</if>
      <if test="groupDesc != null">group_desc = #{groupDesc,jdbcType=VARCHAR},</if>
      <if test="groupRole != null">group_role = #{groupRole,jdbcType=VARCHAR},</if>
      <if test="parentId != null">parent_id = #{parentId,jdbcType=INTEGER},</if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectProjectGroupList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select *
    from project_group
    where project_id = #{projectId,jdbcType=INTEGER}
  </select>

</mapper>