<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idata.gtd.dao.ProjectStageMapper">

  <resultMap id="BaseResultMap" type="com.idata.gtd.entity.ProjectStage">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="stage_name" jdbcType="VARCHAR" property="stageName" />
    <result column="start_date" jdbcType="TIMESTAMP" property="startDate" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
    <result column="has_supervisor" jdbcType="INTEGER" property="hasSupervisor" />
    <result column="is_approval" jdbcType="INTEGER" property="isApproval" />
    <result column="progress" jdbcType="INTEGER" property="progress" />
    <result column="actor_staff_id" jdbcType="INTEGER" property="actorStaffId" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>

  <select id="selectProjectStageByPK" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * 
    from project_stage
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteProjectStageByPK" parameterType="java.lang.Integer">
    delete from project_stage
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertProjectStage" useGeneratedKeys="true" keyProperty="id" parameterType="com.idata.gtd.entity.ProjectStage">
    insert into project_stage
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">id,</if>
      <if test="projectId != null">project_id,</if>
      <if test="stageName != null">stage_name,</if>
      <if test="startDate != null">start_date,</if>
      <if test="endDate != null">end_date,</if>
      <if test="hasSupervisor != null">has_supervisor,</if>
      <if test="isApproval != null">is_approval,</if>
      <if test="progress != null">progress,</if>
      <if test="actorStaffId != null">actor_staff_id,</if>
      <if test="modifyDate != null">modify_date,</if>
      <if test="note != null">note,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">#{id,jdbcType=INTEGER},</if>
      <if test="projectId != null">#{projectId,jdbcType=INTEGER},</if>
      <if test="stageName != null">#{stageName,jdbcType=VARCHAR},</if>
      <if test="startDate != null">#{startDate,jdbcType=TIMESTAMP},</if>
      <if test="endDate != null">#{endDate,jdbcType=TIMESTAMP},</if>
      <if test="hasSupervisor != null">#{hasSupervisor,jdbcType=INTEGER},</if>
      <if test="isApproval != null">#{isApproval,jdbcType=INTEGER},</if>
      <if test="progress != null">#{progress,jdbcType=INTEGER},</if>
      <if test="actorStaffId != null">#{actorStaffId,jdbcType=INTEGER},</if>
      <if test="modifyDate != null">#{modifyDate,jdbcType=TIMESTAMP},</if>
      <if test="note != null">#{note,jdbcType=VARCHAR},</if>
    </trim>
  </insert>
  
  <update id="updateProjectStage" parameterType="com.idata.gtd.entity.ProjectStage">
    update project_stage
    <set>
      <if test="projectId != null">project_id = #{projectId,jdbcType=INTEGER},</if>
      <if test="stageName != null">stage_name = #{stageName,jdbcType=VARCHAR},</if>
      <if test="startDate != null">start_date = #{startDate,jdbcType=TIMESTAMP},</if>
      <if test="endDate != null">end_date = #{endDate,jdbcType=TIMESTAMP},</if>
      <if test="hasSupervisor != null">has_supervisor = #{hasSupervisor,jdbcType=INTEGER},</if>
      <if test="isApproval != null">is_approval = #{isApproval,jdbcType=INTEGER},</if>
      <if test="progress != null">progress = #{progress,jdbcType=INTEGER},</if>
      <if test="actorStaffId != null">actor_staff_id = #{actorStaffId,jdbcType=INTEGER},</if>
      <if test="modifyDate != null">modify_date = #{modifyDate,jdbcType=TIMESTAMP},</if>
      <if test="note != null">note = #{note,jdbcType=VARCHAR},</if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectProjectStageList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select *
    from project_stage
    where project_id = #{projectId,jdbcType=INTEGER}
  </select>

</mapper>