<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idata.gtd.dao.TplGroupMapper">

  <resultMap id="BaseResultMap" type="com.idata.gtd.entity.TplGroup">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tpl_id" jdbcType="INTEGER" property="tplId" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
  </resultMap>
  
  <select id="selectTplGroupByPK" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select *
    from tpl_group
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteTplGroupByPK" parameterType="java.lang.Integer">
    delete from tpl_group
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insertTplGroup" useGeneratedKeys="true" keyProperty="id" parameterType="com.idata.gtd.entity.TplGroup">
    insert into tpl_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">id,</if>
      <if test="tplId != null">tpl_id,</if>
      <if test="groupName != null">group_name,</if>
      <if test="parentId != null">parent_id,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">#{id,jdbcType=INTEGER},</if>
      <if test="tplId != null">#{tplId,jdbcType=INTEGER},</if>
      <if test="groupName != null">#{groupName,jdbcType=VARCHAR},</if>
      <if test="parentId != null">#{parentId,jdbcType=INTEGER},</if>
    </trim>
  </insert>
  
  <update id="updateTplGroup" parameterType="com.idata.gtd.entity.TplGroup">
    update tpl_group
    <set>
      <if test="tplId != null">tpl_id = #{tplId,jdbcType=INTEGER},</if>
      <if test="groupName != null">group_name = #{groupName,jdbcType=VARCHAR},</if>
      <if test="parentId != null">parent_id = #{parentId,jdbcType=INTEGER},</if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectTplGroupList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select *
    from tpl_group
    where tpl_id = #{tplId,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteTplGroups" parameterType="java.lang.Integer">
    delete from tpl_group
    where tpl_id = #{tplId,jdbcType=INTEGER}
  </delete>
  
</mapper>