<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idata.gtd.dao.VendorEmployeeMapper">

  <resultMap id="BaseResultMap" type="com.idata.gtd.entity.VendorEmployee">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="vendor_id" jdbcType="INTEGER" property="vendorId" />
    <result column="emp_name" jdbcType="VARCHAR" property="empName" />
    <result column="emp_gender" jdbcType="VARCHAR" property="empGender" />
    <result column="emp_mobile" jdbcType="VARCHAR" property="empMobile" />
    <result column="emp_email" jdbcType="VARCHAR" property="empEmail" />
    <result column="emp_title" jdbcType="VARCHAR" property="empTitle" />
    <result column="emp_grade" jdbcType="VARCHAR" property="empGrade" />
  </resultMap>
  
  <select id="selectVendorEmployeeByPK" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select *
    from vendor_employee
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteVendorEmployeeByPK" parameterType="java.lang.Integer">
    delete from vendor_employee
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insertVendorEmployee" useGeneratedKeys="true" keyProperty="id" parameterType="com.idata.gtd.entity.VendorEmployee">
    insert into vendor_employee
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">id,</if>
      <if test="vendorId != null">vendor_id,</if>
      <if test="empName != null">emp_name,</if>
      <if test="empGender != null">emp_gender,</if>
      <if test="empMobile != null">emp_mobile,</if>
      <if test="empEmail != null">emp_email,</if>
      <if test="empTitle != null">emp_title,</if>
      <if test="empGrade != null">emp_grade,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">#{id,jdbcType=INTEGER},</if>
      <if test="vendorId != null">#{vendorId,jdbcType=INTEGER},</if>
      <if test="empName != null">#{empName,jdbcType=VARCHAR},</if>
      <if test="empGender != null">#{empGender,jdbcType=VARCHAR},</if>
      <if test="empMobile != null">#{empMobile,jdbcType=VARCHAR},</if>
      <if test="empEmail != null">#{empEmail,jdbcType=VARCHAR},</if>
      <if test="empTitle != null">#{empTitle,jdbcType=VARCHAR},</if>
      <if test="empGrade != null">#{empGrade,jdbcType=VARCHAR},</if>
    </trim>
  </insert>
  
  <update id="updateVendorEmployee" parameterType="com.idata.gtd.entity.VendorEmployee">
    update vendor_employee
    <set>
      <if test="vendorId != null">vendor_id = #{vendorId,jdbcType=INTEGER},</if>
      <if test="empName != null">emp_name = #{empName,jdbcType=VARCHAR},</if>
      <if test="empGender != null">emp_gender = #{empGender,jdbcType=VARCHAR},</if>
      <if test="empMobile != null">emp_mobile = #{empMobile,jdbcType=VARCHAR},</if>
      <if test="empEmail != null">emp_email = #{empEmail,jdbcType=VARCHAR},</if>
      <if test="empTitle != null">emp_title = #{empTitle,jdbcType=VARCHAR},</if>
      <if test="empGrade != null">emp_grade = #{empGrade,jdbcType=VARCHAR},</if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectVendorEmployeeList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select *
    from vendor_employee
    where vendor_id = #{vendorId,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteVendorEmps" parameterType="java.lang.Integer">
    delete from vendor_employee
    where vendor_id = #{vendorId,jdbcType=INTEGER}
  </delete>

</mapper>