<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idata.gtd.dao.VendorMapper">

  <resultMap id="BaseResultMap" type="com.idata.gtd.entity.Vendor">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="vendor_name" jdbcType="VARCHAR" property="vendorName" />
    <result column="vendor_full_name" jdbcType="VARCHAR" property="vendorFullName" />
    <result column="contact_name" jdbcType="VARCHAR" property="contactName" />
    <result column="contact_mobile" jdbcType="VARCHAR" property="contactMobile" />
    <result column="vendor_category" jdbcType="VARCHAR" property="vendorCategory" />
  </resultMap>

  <select id="selectVendorByPK" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select *
    from vendor
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteVendorByPK" parameterType="java.lang.Integer">
    delete from vendor
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insertVendor" useGeneratedKeys="true" keyProperty="id" parameterType="com.idata.gtd.entity.Vendor">
    insert into vendor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">id,</if>
      <if test="vendorName != null">vendor_name,</if>
      <if test="vendorFullName != null">vendor_full_name,</if>
      <if test="contactName != null">contact_name,</if>
      <if test="contactMobile != null">contact_mobile,</if>
      <if test="vendorCategory != null">vendor_category,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">#{id,jdbcType=INTEGER},</if>
      <if test="vendorName != null">#{vendorName,jdbcType=VARCHAR},</if>
      <if test="vendorFullName != null">#{vendorFullName,jdbcType=VARCHAR},</if>
      <if test="contactName != null">#{contactName,jdbcType=VARCHAR},</if>
      <if test="contactMobile != null">#{contactMobile,jdbcType=VARCHAR},</if>
      <if test="vendorCategory != null">#{vendorCategory,jdbcType=VARCHAR},</if>
    </trim>
  </insert>
  
  <update id="updateVendor" parameterType="com.idata.gtd.entity.Vendor">
    update vendor
    <set>
      <if test="vendorName != null">vendor_name = #{vendorName,jdbcType=VARCHAR},</if>
      <if test="vendorFullName != null">vendor_full_name = #{vendorFullName,jdbcType=VARCHAR},</if>
      <if test="contactName != null">contact_name = #{contactName,jdbcType=VARCHAR},</if>
      <if test="contactMobile != null">contact_mobile = #{contactMobile,jdbcType=VARCHAR},</if>
      <if test="vendorCategory != null">vendor_category = #{vendorCategory,jdbcType=VARCHAR},</if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectVendorList" parameterType="com.idata.gtd.entity.Vendor" resultMap="BaseResultMap">
    select * 
    from vendor where 1=1
    <trim prefix=" and (" suffix=")" suffixOverrides="and">
    	<if test="vendorName != null">vendor_name = #{vendorName,jdbcType=VARCHAR} and </if>
		<if test="vendorFullName != null">vendor_full_name = #{vendorFullName,jdbcType=VARCHAR} and </if>
		<if test="contactName != null">contact_name = #{contactName,jdbcType=VARCHAR} and </if>
		<if test="contactMobile != null">contact_mobile = #{contactMobile,jdbcType=VARCHAR} and </if>
		<if test="vendorCategory != null">vendor_category = #{vendorCategory,jdbcType=VARCHAR} and </if>
	</trim>
  </select>
  
  <select id="selectVendorListByProject" parameterType="java.lang.Integer" resultMap="BaseResultMap">
	SELECT DISTINCT
		vendor.*
	FROM
		vendor
	LEFT JOIN project_contract ON vendor.id = project_contract.vendor_id
	WHERE
		project_contract.project_id = #{projectId,jdbcType=INTEGER}
  </select>

</mapper>